@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
  background-color: #eee;
  font-size: 20px;
  font: normal 20px OpenDyslexicAlta-Regular;
  color: #333;
}

.columns {
  height:100% !important;
  overflow:hidden;
  text-align:center;
  padding-bottom:20px;
}

.main {
  display:flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-items: center;
}

.Header {
  margin: 20px 0;
  padding: 40px 0;
  border: double 5px #333;
}

@font-face {
  font-family: Karate;
  src: url(Karate.ttf);
}

.big {
  font: normal 50px Karate;
}

@font-face {
  font-family: OpenDyslexicAlta-Regular;
  src: url(OpenDyslexicAlta-Regular.otf) format("opentype");
}

.question {
  text-align:left;
}

.avatar, .levelUp {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
