@font-face {
  font-family: Karate;
  src: url(Karate.ttf);
}

@font-face {
  font-family: OpenDyslexicAlta-Regular;
  src: url(OpenDyslexicAlta-Regular.otf) format("opentype");
}

* {
  /* background-color: #eee; */
  font-size: 20px;
  font: normal 20px OpenDyslexicAlta-Regular;
  color: #ffff99;
}

body, html {
  height:100% !important;
}

#root {
  min-height:100%;
  height: auto !important;
  height: 100%;
  overflow:hidden;
}

body {
  background-image: url('./Images/backgrounds/rooftops.png');
  background-position: center;
   background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
}

.columns {
  height:100% !important;
  overflow:hidden;
  text-align:center;
  padding-bottom:20px;
}

.main {
  display:flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-items: center;
}

.header {
    padding-top: 20px;
    padding-bottom: 50px;
}

.big {
  font: normal 100px Karate;
  color: #ffff99;
}

.question {
  text-align:left;
}

.avatar, .levelUp {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
} 

.LogInForm .input{
  background: transparent;
}

.LogInForm .button{
  color: #ffff99;
  background-color: #ff6666;
}