.Home {
  background-image: url('../../public/Images/backgrounds/rooftops.png');
  background-position: center;
   background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
}